:root {
  --background-color: #f8f9fa;
  --second-background-color: white;
  --text-color: black;
}
[data-theme="dark"] {
  --background-color: rgb(41, 41, 41);
  --second-background-color: rgb(27, 27, 27);
  --text-color: white;
}

/*---------------- app -------------------*/

.app {
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
}

/*---------------- store -------------------*/

.store {
  background-color: var(--background-color);
}

/*---------------- product -------------------*/

.product {
  border-radius: 10px;
  transition: all 0.5s;
  background-color: var(--second-background-color);
  color: var(--text-color);
}
.product:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.productImg {
  width: 90%;
  height: 200px;
}
.producttext {
  font-size: 18px;
  height: 60px;
}
.quantityBtn {
  cursor: default;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 12px;
}
.quantityBtn:hover {
  background-color: black;
  color: white;
}

/*---------------- navbar -------------------*/

.navbar {
  height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--background-color);
}
.navbar p {
  margin: 0;
  color: var(--text-color);
  display: inline;
}
.navbar i {
  color: var(--text-color);
}
.navbar p:hover {
  border-bottom: 1px solid black;
}

/*---------------- detail -------------------*/

.detail {
  padding: 5rem 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
.detailbox {
  background-color: var(--second-background-color);
}

/*---------------- cart -------------------*/

.cart {
  background-color: var(--background-color);
  padding: 3rem 0 11rem 0;
}
.cartbox {
  background-color: var(--second-background-color);
}
.cartbox p {
  color: var(--text-color);
}
.cartproduct {
  background-color: var(--second-background-color);
}

/*---------------- loader -------------------*/

.loader {
  width: 100%;
  height: 100vh;
}
.loader img {
  width: 10%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(0, 150%);
}

/*---------------- 404 -------------------*/

.notfound {
  background: url(assets/bg.jpg) center center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.notfound::before {
  background-color: rgba(0, 0, 0, 0.37);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.text {
  margin: 0 auto;
  border: 1px solid rgb(255, 252, 252);
  width: 50%;
  height: auto;
  transform: translate(0, 50%);
  backdrop-filter: blur(5px);
}
.notfound h1 {
  text-align: center;
  font-size: 100px;
  color: rgb(255, 255, 255);
  font-family: "Abril Fatface", cursive;
  margin: 20px 0;
}
.notfound p {
  color: white;
  text-align: center;
}
.notfound div div {
  margin: 30px auto;
  text-align: center;
}

/*---------------- breadcrumb -------------------*/

.breadcrumb {
  background-color: #3d8afc;
  padding: 6px;
  margin: auto;
}
.breadcrumb .active {
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.breadcrumb a {
  color: rgb(92, 92, 92);
  font-weight: 500;
}

/*---------------- Dark Mode Toggle -------------------*/

.darkmode {
  position: fixed;
  left: 20px;
  top: 20px;
  width: 120px;
  height: auto;
  z-index: 111;
  background: rgba(0, 0, 0, 0.318);
}

.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.toggle-theme-wrapper span {
  font-size: 28px;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 24px;
  width: 50px;
}

.toggle-theme input {
  display: none;
}

.slider {
  background-color: #ccc;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 16px;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: cornflowerblue;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
